.titulo{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.cartas {
    display: flex;
    justify-content:space-around;
}

.carta2 img{
    height: 182px;
    margin: solid 1px ;
}

.mt {
    color: black;
}

p {
    color: black;
}

.p2 {
    color: white;
}

.none {
    display: none;
}

.registrate {
    margin-top: 20px;
}